@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Open+Sans&display=swap');

html {
  overflow: hidden;
  height: 100%
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100%;
  overflow: auto;
  overscroll-behavior-y: none;
  background-color: #111111;
  font-family: 'Open Sans', sans-serif;
}

#home-decor {
  transform: rotate(-15deg);
}

.heading {
  font-family: 'Catamaran', sans-serif;
}

#div {
  box-shadow: 0 0 7px rgba(0,0,0,.9)s
}

#triangle polygon {
  stroke: #4dd5ff;
  stroke-dasharray: 17;
  animation: anm-tr-move 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

@keyframes anm-tr-move {
  to {
    stroke-dashoffset: -136;
  }
}