@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600&family=Open+Sans&family=Poppins:wght@400;800&display=swap');
* {
  margin: 0px;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  color: #f5f6f7;
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  background-color: #111111;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}


.para {
  color: hsla(0,0%,100%,.6);
}

.border-faint {
  border: 2px solid hsla(0, 0%, 100%, 0.2);
}

#home-decor {
  transform: rotate(-45deg);
}

#home-decor-2 {
  transform: rotate(-20deg);
}

.heading2 {
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-family: 'Catamaran', sans-serif;
}

.cla {
  font-size: 2rem;
  left: 0;
  letter-spacing: 10px;
  line-height: .7;
  position: absolute;
  right: 0;
  top: -30%;
  text-transform: uppercase;
  font-weight: 800;
  transform: translateY(-50%);
  color: hsla(0,0%,100%,.07);
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .cla {
    font-size: 5rem;
    top: 50%;
  }

  #home-decor {
    transform: rotate(-15deg);
  }
}

#div {
  box-shadow: 0 0 7px rgba(0,0,0,.9)s
}

#triangle polygon {
  stroke: #4dd5ff;
  stroke-dasharray: 17;
  animation: anm-tr-move 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

@keyframes anm-tr-move {
  to {
    stroke-dashoffset: -136;
  }
}